.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider::before {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    transition: 0.4s;
    border-radius: 50%;
}

.icon {
    position: absolute;
    top: 4px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    font-size: 16px;
    pointer-events: none;
    transition: 0.4s;
    opacity: 0;
}

.sun {
    left: 4px;
    opacity: 1;
}

.moon {
    right: 4px;
}

.switch input:checked+.slider {
    background-color: #555;
}

.switch input:checked+.slider::before {
    transform: translateX(26px);
}

.switch input:checked+.slider .sun {
    opacity: 0;
}

.switch input:checked+.slider .moon {
    opacity: 1;
}

.toggle-wrapper {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 100;
}


@media (max-width: 768px) {
    .toggle-wrapper {
        position: absolute;
        margin-bottom: 1rem;
    }
}